server {
    listen 80;
    server_name andyjohnsoncv.co.uk www.andyjohnsoncv.co.uk;

    root /var/app/current;
    index index.html;

    # Serve static files directly
    location / {
        try_files $uri $uri/ /index.html;
    }
}